* {border:medium none; margin:0; padding:0;}
*:hover, *:active, *:focus {outline:none !important;}
html {height:100%;}
body {background:#fff; height:100%; color:#000; font:normal 14px Arial,Helvetica,sans-serif;}

* {-moz-box-sizing:border-box; box-sizing:border-box; float:none;}
table {border-spacing:0; padding:0;}
a {color:#000; outline:medium none; text-decoration:none;}
a:hover, a:active, a:focus {color:inherit; text-decoration:none;}

.container {width:100%; padding:0 15px; margin:0 auto;}
@media (min-width:576px){
  .container {max-width:576px;}
}
@media (min-width:768px){
  .container {max-width:768px;}
}
@media (min-width:992px){
  .container {max-width:990px;}
}
@media (min-width:1200px){
  .container {max-width:1140px;}
}

main {padding:50px 0;}
@media(min-width:768px){
  main {padding:70px 0;}
}

.tabs + .tabs {padding:40px 0 0;}
.description {max-width:860px; padding:0 15px 30px; margin:0 auto; text-align:center;}
h1 {padding:0 0 30px;}
p {padding:0 0 15px;}
@media(min-width:768px){
  .description {padding:0 15px 40px;}
}

.tabNav {display:none;}
.tabHead {background:url(images/1.svg) no-repeat 15px center #fff; background-size:auto 32px; height:60px; padding:3px 10px 0 64px; margin:30px 0 0; line-height:1; text-transform:uppercase; box-shadow:0 0 18px rgba(0,0,0,0.4); display:flex; flex-flow:column nowrap; justify-content:center;}
.tabHead1 {margin:0;}
.tabHead2 {background-image:url(images/2.svg);}
.tabHead3 {background-image:url(images/3.svg); background-size:auto 36px;}
.tabHead4 {background-image:url(images/4.svg);}
.tabHead5 {background-image:url(images/5.svg);}
.tabHead.active {background-color:#578594; color:#fff; font-weight:700;}
.tabHead1.active {background-image:url(images/11.svg);}
.tabHead2.active {background-image:url(images/12.svg);}
.tabHead3.active {background-image:url(images/13.svg);}
.tabHead4.active {background-image:url(images/14.svg);}
.tabHead5.active {background-image:url(images/15.svg);}
.tabEl {padding:30px 0 0; margin:0 auto; display:none;}
@media(min-width:768px){
  .tabs + .tabs {padding:50px 0 0;}
  .tabHead {display:none;}
  .tabNav {width:100%; margin:0 auto; display:grid; grid-template-columns:1fr 1fr 1fr 1fr 1fr; gap:30px;}
  .tabNavEl {background:url(images/1.svg) no-repeat center 70px #fff; background-size:auto 40px; padding:24px 15px 94px; font-size:18px; line-height:1.2; text-align:center; box-shadow:-5px -5px 30px rgba(0,0,0,0.4); transition:background-color ease .3s; cursor:pointer;}
  .tabNavEl.tn2 {background-image:url(images/2.svg);}
  .tabNavEl.tn3 {background-image:url(images/3.svg);}
  .tabNavEl.tn4 {background-image:url(images/4.svg);}
  .tabNavEl.tn5 {background-image:url(images/5.svg);}
  .tabEl {padding:40px 0 0;}
  .tabNavEl.active, .tabNavEl:hover {background-color:#578594; color:#fff; font-weight:700;}
  .tabNavEl.tn1.active, .tabNavEl.tn1:hover {background-image:url(images/11.svg);}
  .tabNavEl.tn2.active, .tabNavEl.tn2:hover {background-image:url(images/12.svg);}
  .tabNavEl.tn3.active, .tabNavEl.tn3:hover {background-image:url(images/13.svg);}
  .tabNavEl.tn4.active, .tabNavEl.tn4:hover {background-image:url(images/14.svg);}
  .tabNavEl.tn5.active, .tabNavEl.tn5:hover {background-image:url(images/15.svg);}
}
@media(min-width:992px){
  .tabs + .tabs {padding:60px 0 0;}
  .tabNav {gap:24px;}
  .tabNavEl {font-size:23px;}
}
@media(min-width:1200px){
  .tabNav {max-width:1170px; gap:30px;}
}
