@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
/* 8bc53f */
:root {
  --color-background: #fff;
  --color-primary: #8bc53f;
  --color-secondary: #5c9a0c;
  --color-text-primary: #1d1e1e;
  --color-text-secondary: #4b4c4c;
  --color-grey1: #888888;
  --color-grey2: #d8dce1;
}

* {
  border: medium none;
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: none;
}
*:hover,
*:active,
*:focus {
  outline: none !important;
}
html {
  height: 100%;
}

body {
  background: var(--color-background);
  height: 100%;
  color: #000;
  font: normal 14px "Open Sans", sans-serif;
}
a {
  color: #000;
  outline: medium none;
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  color: inherit;
  text-decoration: none;
}

header {
  position: relative;
  width: 100%;
  background-color: var(--color-text-primary);
}
header .container {
  padding: 0;
}

.coverImage {
  width: 100%;
  min-height: 240px;
  background-image: url("images/headerImage.png");
  background-repeat: no-repeat;
  background-position: 60% 0;
  background-size: cover;
}

.headerTextContainer {
  padding: 0 16px;
  width: 100%;
  height: 100%;
  background-color: var(--color-text-primary);
  box-sizing: border-box;
}

.logo {
  width: 96px;
  height: auto;
}

header .logo {
  margin-top: 20px;
}

h1 {
  color: #ffffff;
  font: 700 48px/56px "Open Sans", sans-serif;
  margin-top: 60px;
}

span.line {
  color: var(--color-primary);
}

h1 + P {
  color: var(--color-background);
  font: 400 16px/22px "Open Sans", sans-serif;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0;
}

@media (min-width: 768px) {
  .headerTextContainer {
    padding: 0 46px;
  }

  header .logo {
    margin-top: 40px;
  }

  h1 {
    margin-top: 80px;
    font-size: 66px;
    line-height: 76px;
  }

  h1 + P {
    margin-top: 28px;
    margin-bottom: 92px;
  }

  .coverImage {
    min-height: calc((100vw - 360px) * 0.24 + 240px);
  }
}

@media (min-width: 1280px) {
  header {
    height: 460px;
  }

  .headerTextContainer {
    padding: 0 16px 0 0;
    width: 55%;
  }

  h1 {
    margin-top: 100px;
  }

  h1 + P {
    margin-top: 28px;
    margin-bottom: 32px;
  }

  .coverImage {
    width: 45%;
    min-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.container {
  width: 100%;
  padding: 0 16px;
  margin: 0;
}
@media (min-width: 768px) {
  .container {
    padding: 0 46px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
  }
}

.tabs {
  margin: 60px 0;
  width: 100%;
}
.description {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}
.description h2 {
  color: var(--color-text-primary);
  font: 700 38px/48px "Open Sans", sans-serif;
}
.description p {
  color: var(--color-text-secondary);
  font: 400 16px/22px "Open Sans", sans-serif;
}
.chapter-index {
  font: 700 38px/48px "Open Sans", sans-serif;
  color: #a2d45e;
  padding-right: 20px;
}

@media (max-width: 360px) {
  .description h2 {
    font-size: 24px;
    line-height: 33px;
  }
  .description p {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .description h2 {
    padding-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .tabs {
    margin: 100px 0;
  }
  .description {
    flex-direction: row;
  }
  .description h2 {
    margin: 0;
    width: 60%;
  }
  .description p {
    margin: 15px 0 40px 20px;
  }
}

@media (min-width: 1280px) {
  .tabs {
    margin: 120px 0;
  }
  .description h2 {
    width: 50%;
  }
}

@media (min-width: 1920px) {
  .tabs {
    margin: 150px 0;
  }
  .description h2 {
    width: 50%;
  }
}
.tabNav {
  display: none;
}
.tabHead {
  position: relative;
  background: url(images/trainee.png) no-repeat 15px center
    var(--color-background);
  background-size: auto 32px;
  height: 60px;
  padding: 3px 10px 0 64px;
  border: 1px solid var(--color-text-primary);
  margin: 0;
  font: 700 14px/20px "Open Sans", sans-serif;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.tabHead1 {
  margin: 0;
}
.tabHead2 {
  background-image: url(images/jun.png);
  border-top: none;
}
.tabHead3 {
  background-image: url(images/mid.png);
  background-size: auto 36px;
  border-top: none;
}
.tabHead4 {
  background-image: url(images/senior.png);
  border-top: none;
}
.tabHead5 {
  background-image: url(images/expert.png);
  border-top: none;
}
.tabHead.active:after,
.tabHead:hover:after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background-color: var(--color-primary);
}

.tabHead1.active {
  background-image: url(images/trainee.png);
}
.tabHead2.active {
  background-image: url(images/jun.png);
}
.tabHead3.active {
  background-image: url(images/mid.png);
}
.tabHead4.active {
  background-image: url(images/senior.png);
}
.tabHead5.active {
  background-image: url(images/expert.png);
}
.tabEl {
  padding: 20px;
  display: none;
  border: 1px solid var(--color-text-primary);
  border-top: none;
}

.tabEl li {
  list-style-position: inside;
  list-style-image: url("images/bullet.svg");
  color: var(--color-text-secondary);
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .tabs + .tabs {
    padding: 50px 0 0;
  }
  .tabHead {
    display: none;
  }
  .tabNav {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: end;
  }
  .tabNavEl {
    position: relative;
    background: url(images/trainee.png) no-repeat center 70px
      var(--color-background);
    background-size: auto 50px;
    background-position: 15px 15px;
    padding: 115px 15px 15px;
    font: 700 18px/26px "Open Sans", sans-serif;
    text-align: start;
    border: 1px solid var(--color-text-primary);
    border-right: none;
    transition: background-color ease 0.3s;
    cursor: pointer;
    text-align: bottom;
  }
  .tabNavEl.tn2 {
    background-image: url(images/jun.png);
  }
  .tabNavEl.tn3 {
    background-image: url(images/mid.png);
  }
  .tabNavEl.tn4 {
    background-image: url(images/senior.png);
  }
  .tabNavEl.tn5 {
    background-image: url(images/expert.png);
    border-right: 1px solid var(--color-text-primary);
  }
  .tabEl {
    padding: 40px;
  }

  .tabEl li {
    margin-bottom: 16px;
  }

  .tabNavEl.active:after,
  .tabNavEl:hover:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    background-color: var(--color-primary);
  }

  .tabNavEl.tn1.active,
  .tabNavEl.tn1:hover {
    background-image: url(images/trainee.png);
  }
  .tabNavEl.tn2.active,
  .tabNavEl.tn2:hover {
    background-image: url(images/jun.png);
  }
  .tabNavEl.tn3.active,
  .tabNavEl.tn3:hover {
    background-image: url(images/mid.png);
  }
  .tabNavEl.tn4.active,
  .tabNavEl.tn4:hover {
    background-image: url(images/senior.png);
  }
  .tabNavEl.tn5.active,
  .tabNavEl.tn5:hover {
    background-image: url(images/expert.png);
  }
}

@media (min-width: 992px) {
  .tabs + .tabs {
    padding: 80px 0 0;
  }
  .tabNavEl {
    font-size: 23px;
  }
}
@media (min-width: 1280px) {
  .tabNav {
    max-width: 1280px;
  }
}

footer {
  padding: 40px 0 20px;
  background: var(--color-text-primary);
}

.footerTextContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 60px;
}

.footerLink {
  font: 400 14px/22px "Open Sans", sans-serif;
  color: var(--color-background);
}

.footerLink:hover,
.footerLink:focus {
  color: var(--color-primary);
}

.footerLink:active {
  color: var(--color-secondary);
}

.divider {
  content: "";
  width: 100%;
  border-bottom: 1px var(--color-grey1) solid;
  margin-bottom: 15px;
}
.rightsReservedText {
  font: 400 16px/22px "Open Sans", sans-serif;
  color: var(--color-grey2);
}

@media (min-width: 360px) {
  footer {
    padding-top: 60px;
  }

  .footerTextContainer a:first-of-type {
    margin-bottom: 12px;
  }
}

@media (min-width: 768px) {
  .footerTextContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 80px;
  }

  .footerLink,
  .rightsReservedText {
    font-size: 16px;
  }

  .footerTextContainer a:first-of-type {
    margin: 0;
  }
}
